@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProximaNova";
  src: url("/src\assets\Fonts\ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kano";
  src: url("/src/assets/Fonts/Kano.ttf") format("truetype");
}

@font-face {
  font-family: "Melodrama";
  src: url("/src/assets/Fonts/Melodrama-Regular.woff") format("woff");
}
@font-face {
  font-family: "satoshi";
  src: url("/src/assets/Fonts/Satoshi-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Landing";
  src: url("/src/assets/Fonts/BespokeSans-Medium.woff") format("woff");
}




#imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
}



#imageContainer > * {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
}
@keyframes expand-left {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 48%;
    left: 2%;
  }
}

@keyframes expand-right {
  from {
    width: 0;
    right: 50%;
  }
  to {
    width: 48%;
    right: 2%;
  }
}

.animate-expand-left {
  animation: expand-left .8s ease-out forwards 0.3s;
}

.animate-expand-right {
  animation: expand-right .8s ease-out forwards 0.3s;
}

