@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProximaNova";
  src: url("/src\assets\Fonts\ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Meseosans";
  src: url("/src\assets\Fonts\museosanscyrl-500.ttf") format("truetype");
}

@font-face {
  font-family: "GTWALSHEIM";
  src: url("/src\assets\Fonts\GTWALSHEIM.ttf") format("truetype");
}
@font-face {
  font-family: "Sans";
  src: url("/src/assets/Fonts/BespokeSans-Variable.ttf") format("truetype");
}
@font-face {
  font-family: "Melodrama";
  src: url("/src/assets/Fonts/Melodrama-Regular.woff") format("woff");
}

#imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
}

#imageContainer > * {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
}